@font-face {
    font-family: 'Courier';
    src: url('cour.ttf') format('truetype');
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

a {
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Courier New", Courier, Monaco;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    z-index: 10;
    color: #FFF;
    text-align: center;
}

a::selection {
    background: none;
    color: purple;
}

a::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-text-stroke: 1px black; /* For Safari/Chrome */
    text-stroke: 1px black; /* For Firefox and future versions of browsers */
}
a:hover {
    font-weight: bold;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

b {
    font-size: 8px;
    color: #FFF;
    text-align: center;
    margin: 1px;
}

b:hover {
    filter: drop-shadow(0px 0px 2px white);
}
