
        @font-face {
            font-family: 'Courier';
            src: url('cour.ttf') format('truetype');
            /* You can specify other font formats (e.g., woff, woff2) for cross-browser compatibility. */
        }

        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
		
		a {
			text-decoration: none;
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
			font-family: "Courier New", Courier, Monaco;
			font-style: normal;
			font-weight: 500;
			font-size: 10px;
			z-index: 10;
			color: #FFF;
		}

        a:hover {
			font-weight: bold;
        }
		
		b {
			font-size: 8px;
			color: #FFF;
			margin-left: 2px;
		}
		
		b:hover {
			filter: drop-shadow(0px 0px 2px white);
		}
		