@font-face {
    font-family: 'Courier';
    src: url('cour.ttf') format('truetype');
}

body {
    background-color: black;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh;
    margin: 0;
    font-family: "Courier New", Courier, Monaco;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    text-align: center;
}

.container {
    text-align: center;
}

.container-about {
    text-align: center;
}

a {
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: inherit; /* Inherit the color from the parent (body) */
}

a::selection {
    background: none;
    color: purple;
}

a::after {
    content: attr(data-text);
    z-index: -1;
    /*-webkit-text-stroke: 1px black; For Safari/Chrome
    text-stroke: 1px black; For Firefox and future versions of browsers */
}

.icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
}

.icon-container-about {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
}


b {
    font-size: 16px;
    color: #FFF;
}

/* Add padding to icons in the middle */
.icon-container b:not(:first-child):not(:last-child) {
    margin: 0 10px; /* Adjust the padding as needed */
}

/* Remove margin from the first icon on the left */
.icon-container b:first-child {
    margin-left: 0;
}

/* Remove margin from the last icon on the right */
.icon-container b:last-child {
    margin-right: 0;
}

b:hover {
    filter: drop-shadow(0px 0px 2px white);
}

.clickable:hover {
    font-weight: bold;
}

.contributors {
    position: absolute;
    bottom: 0;
    left: 0;
}
